<div class="row1">
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
</div>

<div class="row2">
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
</div>

<div class="row3">
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
</div>

<div class="row4">
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
</div>

<div class="row5">
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
</div>

<div class="row6">
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
</div>

<div class="row7">
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
</div>
