<h1>{{selectedHex}}</h1>
<button (click)="onClick('Select a hex!')">clear hex</button>
<!--<hello [seletedHex]=selectedHex> </hello>-->

<div class="row1">
  <div class="hex" (click)="onClick('Hex 1')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex" (click)="onClick('Hex 2')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex" (click)="onClick('Hex 3')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex" (click)="onClick('Hex 4')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
</div>

<div class="row2">
  <div class="hex" (click)="onClick('Hex 5')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex" (click)="onClick('Hex 6')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex" (click)="onClick('Hex 7')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex" (click)="onClick('Hex 8')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex" (click)="onClick('Hex 9')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
</div>

<div class="row3">
  <div class="hex" (click)="onClick('Hex 10')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex" (click)="onClick('Hex 11')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex" (click)="onClick('Hex 12')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex" (click)="onClick('Hex 13')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex" (click)="onClick('Hex 14')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex" (click)="onClick('Hex 15')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
</div>

<div class="row4">
  <div class="hex" (click)="onClick('Hex 16')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex" (click)="onClick('Hex 17')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex" (click)="onClick('Hex 18')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex" (click)="onClick('Hex 19')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex" (click)="onClick('Hex 20')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex" (click)="onClick('Hex 21')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex" (click)="onClick('Hex 22')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
</div>

<div class="row5">
  <div class="hex" (click)="onClick('Hex 23')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex" (click)="onClick('Hex 24')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex" (click)="onClick('Hex 25')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex" (click)="onClick('Hex 26')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex" (click)="onClick('Hex 27')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex" (click)="onClick('Hex 28')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
</div>

<div class="row6">
  <div class="hex" (click)="onClick('Hex 29')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex" (click)="onClick('Hex 30')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex" (click)="onClick('Hex 31')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex" (click)="onClick('Hex 32')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex" (click)="onClick('Hex 33')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
</div>

<div class="row7">
  <div class="hex" (click)="onClick('Hex 34')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex" (click)="onClick('Hex 35')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex" (click)="onClick('Hex 36')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
  <div class="hex" (click)="onClick('Hex 37')">
    <div class="a"></div>
    <div class="b"></div>
    <div class="c"></div>
  </div>
</div>
